@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

h1 {
    font-size: 4rem;
}

div .page {
    background-color: hsl(0, 0%, 95%);
}

main {
    margin: 1rem;
    align-items: center;
}

button {
    background-color: #007acc;
    color: white;
    padding: 0.4rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.8rem;
}

input {
    border-radius: 0.5rem;
}

form input[type=submit] {
    color: green;
}

form input[type=reset] {
    color: red;
}


.form-element {
    margin: 0.5rem;
}


.list-element {
    margin: 0.5rem;
    padding: 0.2rem;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
}

:root {
    --primary-color: #007acc;
}

.icon-button {
    background-color: var(--primary-color);
    border-radius: 8px;
    overflow: hidden;
    align-content: center;
    align-items: center;
}
